<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Mqtt Demo</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <link th:href="@{/webjars/bootstrap/3.3.2-2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-select/1.6.3/dist/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/map.css}" rel="stylesheet">

    <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCSBpK7g8KXUAC_tHIyVbVa-EWmGsppWIk"></script>
    <script type='text/javascript' src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel.js"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script th:src="@{/webjars/jquery/2.1.3/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.2-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-select/1.6.3/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/webjars/knockout/3.3.0/knockout.js}"></script>
    <script th:src="@{/js/ko-bootstrap-select.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script type="text/javascript">

        var map, appModel;
        var markers = [];

        function initialize() {
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(30.2500, -97.7500),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            //initialize ko
            var appModel = new ApplicationModel(map, {});
            ko.applyBindings(appModel);
            appModel.init();
        }

        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
</head>
<body>
<div class="container-fluid">
    <div id="heading" class="masthead">
        <div class="pull-right">
            <span class="text-info" data-bind="text: username"><em></em></span>&nbsp;
            <i id="online-indicator" title="Online connected" class="glyphicon"></i>
            <button data-bind="click: refresh" class="btn"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
        <h3 class="muted">MQTT Map Demo</h3>
    </div>
    <div class="row">
        <div id="main-content" class="col-md-9">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-3">
            <p>Topic queue (<span data-bind="text: topicIds"></span>) :</p>
            <select id="topicSelector" data-width="auto"  data-bind="selectPicker: topicIds, optionsText: 'text', optionsValue : 'id', selectPickerOptions: { optionsArray: topicItems }" class="menu-select"></select>
            <p>Session (<span data-bind="text: sessionIds"></span>) :</p>
            <select id="sessionSelector" data-width="auto" data-bind="selectPicker: sessionIds, optionsText: 'text', optionsValue : 'id', selectPickerOptions: { optionsArray: sessionItems }" class="menu-select"></select>
            <div id="speedChart" style="width: 100%; height: 250px"></div>
        </div>
    </div>
</div>
</body>
</html>